parameters:
  level: max
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#Call to an undefined method Mockery\\Expectation::.*#'
    - '#PHPDoc type array<.*> of property UserFrosting\\Sprinkle\\Account\\Database\\Models\\.*::\$.* is not the same as PHPDoc type array of overridden property Illuminate\\Database\\Eloquent\\Model::\$.*.#'
    - '#Dynamic call to static method Illuminate\\Database\\Query\\Builder::.*#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder::.*#'
    - '#Static call to instance method Illuminate\\Database\\Eloquent\\Builder::.*#'
  universalObjectCratesClasses:
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\ActivityInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\GroupInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\PasswordResetInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\PermissionInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\PersistenceInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\RoleInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\UserInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\VerificationInterface
includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-mockery/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon

services:
-
    class: SlamPhpStan\UnusedVariableRule
    tags:
        - phpstan.rules.rule