parameters:
  level: 8
  paths:
    - app/src/
    - app/tests/
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#Call to an undefined method Mockery\\Expectation::.*#'
  universalObjectCratesClasses:
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\ActivityInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\GroupInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\PasswordResetInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\PermissionInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\PersistenceInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\RoleInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\UserInterface
    - UserFrosting\Sprinkle\Account\Database\Models\Interfaces\VerificationInterface
includes:
  - phpstan-baseline.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-mockery/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon

services:
-
    class: SlamPhpStan\UnusedVariableRule
    tags:
        - phpstan.rules.rule