{% extends "pages/abstract/default.html.twig" %}

{% block page_title %}{{ title }}{% endblock %}
{% block page_description %}{{ description }}{% endblock %}

{% block body_matter %}
<h1>{{ block('page_title') }}</h1>
<p>{{ block('page_description') }}</p>
{% endblock %}