name: PHPStan

on:
  push:
    branches: [5.0]
  pull_request:
    branches: [5.0]
  workflow_dispatch:

jobs:
  PHPStan:

    runs-on: ubuntu-latest
    name: PHPStan

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'

    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Run PHPStan
      run: vendor/bin/phpstan analyse app/src/ app/tests/
